In [3]:
### If Condition

a = 3
if a > 0:
    print('A is a positive number')

a = 3
if a < 0:
    print('A is a negative number')
else:
    print('A is a positive number')

A is a positive number
A is a positive number

In [5]:
### If Else

a = 0
if a > 0:
    print('A is a positive number')
elif a < 0:
    print('A is a negative number')
else:
    print('A is zero')

A is zero

In [7]:
### Nested Conditions

a = 0
if a > 0:
    if a % 2 == 0:
        print('A is a positive and even integer')
    else:
        print('A is a positive number')
elif a == 0:
    print('A is zero')
else:
    print('A is a negative number')

A is zero

In [8]:
### If Condition and Logical Operators

a = 0
if a > 0 and a % 2 == 0:
        print('A is an even and positive integer')
elif a > 0 and a % 2 !=  0:
     print('A is a positive integer')
elif a == 0:
    print('A is zero')
else:
    print('A is negative')

A is zero

In [10]:
### If and Or Logical Operators

user = 'James'
access_level = 3
if user == 'admin' or access_level >= 4:
        print('Access granted!')
else:
    print('Access denied!')

Access denied!

In [11]:
### While Loop


count = 0
while count < 5:
    print(count)
    count = count + 1
#prints from 0 to 4

0
1
2
3
4

In [12]:
count = 0
while count < 5:
    print(count)
    count = count + 1
else:
    print(count)

0
1
2
3
4
5

In [62]:
### For Loop

numbers = [0, 1, 2, 3, 4, 5]
for number in numbers: # number is temporary name to refer to the list's items, valid only inside this loop
    print(number)       # the numbers will be printed line by line, from 0 to 5

0
1
2
3
4
5

In [63]:
my_list = [1, 2, 3, 4, 'Python', 'is', 'neat']
for item in my_list:
    print(item)

1
2
3
4
Python
is
neat

In [64]:
for item in my_list:
    if item == 'Python':
        break
    print(item)

1
2
3
4

In [66]:
for item in my_list:
    if item == 1:
        continue
    print(item)

2
3
4
Python
is
neat

In [67]:
for idx, val in enumerate(my_list):
    print('idx: {}, value: {}'.format(idx, val))

idx: 0, value: 1
idx: 1, value: 2
idx: 2, value: 3
idx: 3, value: 4
idx: 4, value: Python
idx: 5, value: is
idx: 6, value: neat

In [14]:
language = 'Python'
for letter in language:
    print(letter)

P
y
t
h
o
n

In [16]:

for i in range(len(language)):
    print(language[i])

P
y
t
h
o
n

In [17]:
numbers = (0, 1, 2, 3, 4, 5)
for number in numbers:
    print(number)

0
1
2
3
4
5

In [21]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    print(key)

first_name
last_name
age
country
is_marred
skills
address

In [23]:
for key, value in person.items():
    print(key, value) # this way we get both keys and values printed out

first_name Asabeneh
last_name Yetayeh
age 250
country Finland
is_marred True
skills ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
address {'street': 'Space street', 'zipcode': '02210'}

In [24]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
for company in it_companies:
    print(company)

Amazon
Microsoft
IBM
Oracle
Google
Facebook
Apple

In [25]:
### Break and Continue - Part 2


numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        break

0
1
2
3

In [27]:
### The Range Function

lst = list(range(11)) 
print(lst) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
st = set(range(1, 11))    # 2 arguments indicate start and end of the sequence, step set to default 1
print(st) # {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [28]:
lst = list(range(0,11,2))
print(lst) # [0, 2, 4, 6, 8, 10]
st = set(range(0,11,2))
print(st) #  {0, 2, 4, 6, 8, 10}

[0, 2, 4, 6, 8, 10]
{0, 2, 4, 6, 8, 10}

In [29]:
for number in range(11):
    print(number)   # prints 0 to 10, not including 11

0
1
2
3
4
5
6
7
8
9
10

In [31]:
### Nested For Loop

person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

JavaScript
React
Node
MongoDB
Python

In [33]:
### For Else

for number in range(11):
    print(number)   # prints 0 to 10, not including 11
else:
    print('The loop stops at', number)


### Pass


for number in range(6):
    pass

0
1
2
3
4
5
6
7
8
9
10
The loop stops at 10

In [34]:

### Function without Parameters

def generate_full_name ():
    first_name = 'Asabeneh'
    last_name = 'Yetayeh'
    space = ' '
    full_name = first_name + space + last_name
    print(full_name)
generate_full_name () # calling a function

def add_two_numbers ():
    num_one = 2
    num_two = 3
    total = num_one + num_two
    print(total)
add_two_numbers()

Asabeneh Yetayeh
5

In [35]:
### Function Returning a Value - Part 1


def generate_full_name ():
    first_name = 'Asabeneh'
    last_name = 'Yetayeh'
    space = ' '
    full_name = first_name + space + last_name
    return full_name
print(generate_full_name())

def add_two_numbers ():
    num_one = 2
    num_two = 3
    total = num_one + num_two
    return total
print(add_two_numbers())

Asabeneh Yetayeh
5

In [36]:

### Function with Parameters

def greetings (name):
    message = name + ', welcome to Python for Everyone!'
    return message

print(greetings('Asabeneh'))

Asabeneh, welcome to Python for Everyone!

In [37]:
def add_ten(num):
    ten = 10
    return num + ten
print(add_ten(90))

def square_number(x):
    return x * x
print(square_number(2))

100
4

In [39]:

def area_of_circle (r):
    PI = 3.14
    area = PI * r ** 2
    return area
print(area_of_circle(10))

314.0

In [70]:
def sum_of_numbers(n):
    total = 0
    for i in range(n+1):
        total+=i
    return total
print(sum_of_numbers(10)) # 55
print(sum_of_numbers(100)) # 5050

55
5050

In [46]:
def generate_full_name (first_name, last_name):
    space = ' '
    full_name = first_name + space + last_name
    return full_name
print('Full Name: ', generate_full_name('Asabeneh','Yetayeh'))

Full Name:  Asabeneh Yetayeh

In [47]:
def sum_two_numbers (num_one, num_two):
    sum = num_one + num_two
    return sum
print('Sum of two numbers: ', sum_two_numbers(1, 9))

Sum of two numbers:  10

In [48]:
def calculate_age (current_year, birth_year):
    age = current_year - birth_year
    return age;

print('Age: ', calculate_age(2021, 1819))

Age:  202

In [49]:
def weight_of_object (mass, gravity):
    weight = str(mass * gravity)+ ' N' # the value has to be changed to a string first
    return weight
print('Weight of an object in Newtons: ', weight_of_object(100, 9.81))

Weight of an object in Newtons:  981.0 N

In [71]:
### Passing Arguments with Key and Value


def print_fullname(firstname, lastname):
    space = ' '
    full_name = firstname  + space + lastname
    return full_name
print(print_fullname(firstname = 'Asabeneh', lastname = 'Yetayeh'))

Asabeneh Yetayeh

In [51]:

def add_two_numbers (num1, num2):
    total = num1 + num2
    print(total)
print(add_two_numbers(num2 = 3, num1 = 2)) # Order does not matter

5
None

In [52]:
### Function Returning a Value - Part 2


def print_name(firstname):
    return firstname
print_name('Asabeneh') # Asabeneh

def print_full_name(firstname, lastname):
    space = ' '
    full_name = firstname  + space + lastname
    return full_name
print_full_name(firstname='Asabeneh', lastname='Yetayeh')

'Asabeneh Yetayeh'

In [53]:
def add_two_numbers (num1, num2):
    total = num1 + num2
    return total
print(add_two_numbers(2, 3))

def calculate_age (current_year, birth_year):
    age = current_year - birth_year
    return age;
print('Age: ', calculate_age(2019, 1819))

5
Age:  200

In [74]:
def is_even (n):
    if n % 2 == 0:
        print('even')
        return True    # return stops further execution of the function, similar to break 
    return False
print(is_even(10)) # True
print(is_even(7)) # False

even
True
False

In [55]:
### Function with Default Parameters

def greetings (name = 'Peter'):
    message = name + ', welcome to Python for Everyone!'
    return message
print(greetings())
print(greetings('Asabeneh'))

def generate_full_name (first_name = 'Asabeneh', last_name = 'Yetayeh'):
    space = ' '
    full_name = first_name + space + last_name
    return full_name

print(generate_full_name())
print(generate_full_name('David','Smith'))

def calculate_age (birth_year,current_year = 2021):
    age = current_year - birth_year
    return age;
print('Age: ', calculate_age(1821))

def weight_of_object (mass, gravity = 9.81):
    weight = str(mass * gravity)+ ' N' # the value has to be changed to string first
    return weight
print('Weight of an object in Newtons: ', weight_of_object(100)) # 9.81 - average gravity on Earth's surface
print('Weight of an object in Newtons: ', weight_of_object(100, 1.62)) # gravity on the surface of the Moon

Peter, welcome to Python for Everyone!
Asabeneh, welcome to Python for Everyone!
Asabeneh Yetayeh
David Smith
Age:  200
Weight of an object in Newtons:  981.0 N
Weight of an object in Newtons:  162.0 N

In [56]:
### Arbitrary Number of Arguments


def sum_all_nums(*nums):
    total = 0
    for num in nums:
        total += num     # same as total = total + num 
    return total
print(sum_all_nums(2, 3, 5)) # 10


### Default and Arbitrary Number of Parameters in Functions

def generate_groups (team,*args):
    print(team)
    for i in args:
        print(i)
print(generate_groups('Team-1','Asabeneh','Brook','David','Eyob'))

10
Team-1
Asabeneh
Brook
David
Eyob
None

In [ ]:

### Function as a Parameter of Another Function


#You can pass functions around as parameters
def square_number (n):
    return n * n
def do_something(f, x):
    return f(x)
print(do_something(square_number, 3)) # 27

9